{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/myprofile.css' %}">
<head>
  <title>Home</title>
</head>
<body>
        <pre>
            <div class="box">
  <img src="{% static 'image/profile.jpg' %}" height="600px" width="400px">
  <p class="nama" ><marquee scrollamount="85" behavior="slide" width ="1400" height="80">
    <pre>Nama          : Meifinatul Mardiyah</pre></marquee></p>
  <p class="npm"><marquee scrollamount="80" behavior="slide" width ="1400" height="80">
    <pre>NPM           : 2022.02.01.0.0032</pre></marquee></p>
  <p class="jenis"><marquee scrollamount="75" behavior="slide" width ="1400" height="80">
    <pre>Jenis Kelamin : Perempuan</pre></marquee></p>
  <p class="tetala"><marquee scrollamount="70" behavior="slide" width ="1400" height="80">
    <pre>Tetala        : Pamekasan, 31 MEI 2004</pre></marquee></p>
  <p class="warga"><marquee scrollamount="65" behavior="slide" width ="1400" height="80">
    <pre>Warga Negara  : Indonesia</pre></marquee></p>
  <p class="agama"><marquee scrollamount="60" behavior="slide" width ="1400" height="80">
    <pre>Agama         : Islam</pre></marquee></p>
  <p class="alamat"><marquee scrollamount="45" behavior="slide" width ="1400" height="80">
    <pre>Alamat        : Ds. Nyalabu Laok</pre></marquee></p>
    <p class="kembali"><marquee scrollamount="45" behavior="slide" width ="1400" height="80"></marquee>
   <a href="menu">kembalii</a> 
    </pre>
</body>
</html>