{% extends 'vina.html' %}
{% load static %}

{% block title %}
Biodata
{% endblock title %}

{% block menu %}
<link rel="stylesheet" href="{% static 'css/mytokoku.css' %}">
    <nav>
    <img src="{% static 'image/fina.png' %}" alt="logo">
       <ul>
           <li><a href="base">Biodata Saya</a></li>
           <li><a href="home">Sosial Media</a></li>
       </ul>
   </nav>
   <header>
    <img src="{% static 'image/b.jpg' %}" height="800px" width="1500px" alt="">
   </header>

{% endblock menu %}

{% block content %}

{% endblock content %}