body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h2{
   color: #E9967A;
}
footer {
   padding: 8px;
   color: white;
   background-color: #E9967A;
   text-align: right;
   font-weight: bold;
}
.merk{
   font-size: 20px;
   padding: 206px;
   background-image: url('../image/BTS6.jpg');
   text-align: center;
   color: white;
   background-size: cover;
   background-position: center;
}
nav {
   background-color: #53036b;
   padding: 0px;
   text-align: right;
   position: sticky;
   top: 0;
   overflow: auto;
}
nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
   width: 10px;
}
nav a {
   font-size: 20px;
   font-weight: 400;
   text-decoration: none;
   color: white;
   margin-top: 0px;
}
nav img{
	float: left;
	height: 100px;}